* {
  box-sizing: border-box;
}
body {
 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 600px;
  background-color: rgb(173, 123, 233);
  position: relative;
  min-height: 100vh;
}
.wrapper {
  padding: 20px;
}
.todo {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  background-color: rgba(16, 13, 19, 0.2);
  margin-bottom: 15px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
}
.check input {
  width: 25px;
  height: 25px;
}
.details {
  color: rgb(10, 1, 20);
  padding-left: 10;
}
.title {
  font-weight: 500;
  font-size: 1.1rem;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.desc {
  text-transform: capitalize;
  font-size: 0.8rem;
}
.delete,
.edit {
  cursor: pointer;
}
.createForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.taskForm {
  background-color: rgb(238, 238, 238);
  padding: 15px;
  border-radius: 10px;
}

.taskForm h1 {
  font-size: 1.1rem;
  color: rgb(10, 1, 20);
}
form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
form label {
  color: rgb(10, 1, 20);
  padding: 5px 0;
  font-size: 1.1rem;
  font-weight: 400;
}
form input {
  padding: 4px;
  font-size: 1.1rem;
}

.formBtns{
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}
.formBtns button{
    outline: none;
    border: none;
    padding: 6px;
    background-color: rgb(173, 123, 233);
    color: rgb(238, 238, 238);
    cursor: pointer;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 0 4px;
  color: white;
  font-weight: 700;
}
.createBtn{
  cursor: pointer;
  background-color: rgba(102, 51, 153, .2);
  padding: 10px;
  border-radius: 5px;

}
.done{
  background-color: aqua;
}