.dark{
    background-color: rgb(3, 0, 11);
    color: aliceblue;
    width: 300px;
    height: 300px;
}
.dark .button{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}

.light{
    background-color: white;
    color: black;
    width: 300px;
    height: 300px;

}
.light .button{
    background-color: rgb(3, 0, 11);
    color: white;
}